body .ui-progressbar .ui-progressbar-value {
  background: #ffc107 !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #ffc107 !important;
  background: #ffc107  !important;
}

.btn-warning {
  color: white;
  background-color: #ffc107;
  border-color: #ffc107;
}


.p-datatable .p-datatable-tbody>tr>td {
  text-align: left;
  border: 1px solid #c8c8c8;
  padding: 0.571rem 0.857rem;
  font-size: 14px;
}



