.p-dropdown-panel .p-dropdown-items.p-dropdown-virtualscroll .cdk-virtual-scroll-content-wrapper, .p-dropdown-panel .p-dropdown-items:not(.p-dropdown-virtualscroll) {
  padding: 0;
  z-index: 10000
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: orange;
}
body .ui-chkbox .ui-chkbox-box.ui-state-focus {
  border-color: #ffc107;
  background-color: #181818;
  color: #ffc107;
  -webkit-box-shadow: 0 0 0 0.2em #fdd661;
  -moz-box-shadow: 0 0 0 0.2em #fdd661;
  box-shadow: 0 0 0 0.2em #fdd661;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #ffc107;
  background-color: #ffc107;
  color: #181818;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
  border-color: orange;
  background-color: #ffc107;
  color: #181818;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus {
  border-color: #ffc107;
  background-color: #ffc107;
  color: #181818;
}
.ui-button.orange-button {
  background-color: orange;
}
body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
  border-color: #4b4b4b;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
  background-color: #4b4b4b;
}
body .ui-multiselect:not(.ui-state-disabled).ui-state-focus {
  border-color: #4b4b4b;
}
body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
  background-color: #4b4b4b;
}
body .ui-datepicker table td > a.ui-state-active, body .ui-datepicker table td > span.ui-state-active {
  color: #ffffff;
  background-color: #ffc107;
}
body .ui-datepicker table td.ui-datepicker-today > a.ui-state-active, body .ui-datepicker table td.ui-datepicker-today > span.ui-state-active {
  color: #ffffff;
  background-color: #ffc107;
}
body .ui-datepicker .ui-timepicker a:hover {
  color: #ffc107;
}
body .ui-datepicker .ui-monthpicker .ui-monthpicker-month.ui-state-active {
  color: #ffffff;
  background-color: #ffc107;
}
body .ui-button {
  color: #000;
  background-color: #ffc107;
  border: 1px solid #ffc107;
}
body .ui-button:enabled:hover {
  background-color: orange;
  color: #000;
  border-color: #ffc107;
}
body .ui-accordion .ui-accordion-header a {
  border: 1px solid #888;
  color: #fff;
  background-color: #555;
  color: #fff;
  font-weight: 400;
}
body .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #fff;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a .ui-accordion-toggle-icon {
  color: #fff;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #fabb00;
  border: 1px solid #fabb00;
  color: #181818;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #181818;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
  border: 1px solid #fabb00;
  background-color: #fabb00;
  color: #181818;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a .ui-accordion-toggle-icon {
  color: #181818;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #ffc107;
  color: #333;
}
body .ui-table .ui-table-thead > tr > th {
  color: #fff;
  background-color: #555;
}
body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #eb9c0b;
}
body .ui-table .ui-editable-column input:focus {
  outline: 1px solid #eb9c0b;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #eb9c0b;
}
body .ui-table .ui-table-tbody > tr.ui-contextmenu-selected {
  background-color: #eb9c0b;
}
body .ui-table .ui-table-tbody > tr.ui-table-dragpoint-bottom > td {
  -webkit-box-shadow: inset 0 -2px 0 0 #eb9c0b;
  -moz-box-shadow: inset 0 -2px 0 0 #eb9c0b;
  box-shadow: inset 0 -2px 0 0 #eb9c0b;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #eb9c0b;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-contextmenu-selected {
  background-color: #eb9c0b;
}
body .ui-table .ui-column-resizer-helper {
  background-color: #eb9c0b;
}
body .ui-carousel .ui-carousel-header {
  background-color: #ffc107;  
  color: #000;
  font-weight: 400;
}
body .ui-toast .ui-toast-message.ui-toast-message-warn {
  background-color: #fff;
}
body .ui-dialog .ui-dialog-titlebar {
  border: 1px solid #ffc107;
  background-color: #ffc107;
  color: #000;
  font-weight: bold;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  color: #000;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  background-color: #333;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
  color: #ffc107;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text {
  color: #fff;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
  color: #ffc107;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover {
  background-color: #000;
  color: #ffc107;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover .ui-menuitem-link .ui-menuitem-text {
  color: #fff;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover .ui-menuitem-link .ui-menuitem-icon {
  color: #ffc107;
}
body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
  border: 1px solid #000;
  background-color: #000;
  color: #ffc107;
}
body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover {
  border: 1px solid #000;
  background-color: #000;
  color: #ffc107;
}
body .ui-progressbar .ui-progressbar-value {
  background: #ffc107;
}