/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f8f8f8 !important;
}

.p-datatable .p-datatable-header {
  background: #555 !important;
  color: white !important;
  border: solid #c8c8c8;
  border-width: 1px 1px 0;
  padding: 0.857rem 1rem;
  font-weight: 700;
}

.p-datatable-wrapper {
  margin: 30px;
  border-radius: 10px;
  border-width: 10px;
  border-width: inherit0 1px 1px;
}

.p-datatable .p-paginator-bottom {
  border-width: 0 !important;
  border-radius: 0 !important;
}

.-datatable-wrapper {
  margin: 30px;
  border-width: 10px !important;
  border-radius: 10px !important;
  background-color: #ffc107;
}

.p-paginator {
  background: white !important;
  color: white !important;
  border: 1px solid #c8c8c8;
  padding: 0;
  border-radius: 3px;
}

body .ui-progressbar .ui-progressbar-value {
  background: #ffc107 !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #ffc107 !important;
  background: #ffc107 !important;
}

.btn-warning {
  color: white;
  background-color: #ffc107;
  border-color: #ffc107;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 0.571rem 0.857rem;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #fff !important;
  background: #555 !important;
  transition: background-color 0.2s, box-shadow 0.2s;
  font-size: 10px;
}

.p-dropdown .p-dropdown-label {
  background: #0000;
  border: 0;
  font-size: 10px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #ffc107;
  border-color: #ffc107;
  color: #fff;
}

.p-sidebar-left {
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
}

.p-progressbar .p-progressbar-value {
  border: 0;
  margin: 0;
  background: #ffc107;
}

.p-datatable .p-datatable-tfoot > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 0.571rem 0.857rem;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333;
  font-size: 12px;
  background: #f4f4f4;
}

.btn {
  height: 38px;
}

/* estilos do filtro */
.custom-filtro .ui-sidebar-left {
  width: 30em;
}
.custom-filtro
  input.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
  width: 90%;
}
.custom-filtro
  .ng-trigger.ng-trigger-overlayAnimation.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
  top: 100%;
}

.custom-filtro
  .ng-trigger.ng-trigger-overlayAnimation.ui-multiselect-panel.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ng-star-inserted {
  max-width: 386px;
}

/* tabela */
table i.fas.fa-times {
  margin: 0px 2px;
}

.custom_dialog .ui-dialog-content.ui-widget-content {
  overflow: unset;
}

/* CSS SENHAS */
.p-multiselect {
  width: 100% !important;
  padding: 5px;
  border-color: transparent !important;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.05) !important;
}

.p-multiselect:not(.p-disabled):hover {
  border-color: transparent !important;
}

.p-multiselect .p-multiselect-label.p-placeholder {
  margin-left: 35px;
  color: #333 !important;
}

.icon-select {
  width: 42px !important;
  height: 42px !important;
  border-radius: 50%;
  text-align: center;
  line-height: 42px !important;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.05) !important;
}

button.p-ripple.p-element.p-btn-inicial.p-button.p-component,
button.p-ripple.p-element.p-btn-filtro.p-button.p-component,
button.p-ripple.p-element.p-btn-info.p-button.p-component,
button.p-ripple.p-element.p-btn-consultoria.p-button.p-component {
  color: #333;
  border: transparent;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.05);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 40px;
}

button.p-ripple.p-element.p-btn-inicial.p-button.p-component {
  background: #efefef;
}

.filters {
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 7px;
}

.p-multiselect-label.ng-tns-c69-6.p-placeholder,
.p-multiselect-label.ng-tns-c69-7.p-placeholder,
.p-multiselect-label.ng-tns-c69-8.p-placeholder {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20px;
}

.p-element.p-multiselect-label-container.ng-tns-c69-1,
.p-element.p-multiselect-label-container.ng-tns-c69-0 {
  margin-left: 25px;
}
