/* You can add global styles to this file, and also import other style files */

.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 0.571rem 0.857rem;
    border: 1px solid #c8c8c8;
    border-width: 1px 1px 1px 1px;
    font-weight: 700;
    color: #333333;
    background: #f4f4f4;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-size: 10px
}

.p-dropdown .p-dropdown-label {
  background: #0000;
  border: 0;
  font-size: 10px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #ffc107;
  border-color: #ffc107;
  color: #fff;
}

.p-sidebar-left {
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
}

.p-progressbar .p-progressbar-value {
  border: 0;
  margin: 0;
  background: #ffc107;
}

.p-datatable .p-datatable-tfoot>tr>td, .p-datatable .p-datatable-thead>tr>th {
  text-align: left;
  padding: 0.571rem 0.857rem;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333;
  font-size: 12px;
  background: #f4f4f4;
}

.btn {

  height: 38px;
}

/* estilos do filtro */
.custom-filtro .ui-sidebar-left {
  width: 30em;
}
.custom-filtro input.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted{
  width: 90%;
}
.custom-filtro .ng-trigger.ng-trigger-overlayAnimation.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted{
  top: 100%;
}

.custom-filtro .ng-trigger.ng-trigger-overlayAnimation.ui-multiselect-panel.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ng-star-inserted{
  max-width: 386px;
}

/* tabela */
table i.fas.fa-times {
  margin: 0px 2px;
}

.custom_dialog .ui-dialog-content.ui-widget-content{
  overflow: unset;
}
